In [51]:
import pandas as pd
file_path = r"C:\Users\User\Downloads\bank.csv"
dataset = pd.read_csv(file_path)

In [52]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [53]:
job = set(dataset['poutcome'])
print(job)

{'other', 'failure', 'success', 'unknown'}

In [54]:
job_mapping = {
    'admin.': 0,
    'blue-collar': 1,
    'entrepreneur': 2,
    'housemaid': 3,
    'management': 4,
    'retired': 5,
    'self-employed': 6,
    'services': 7,
    'student': 8,
    'technician': 9,
    'unemployed': 10,
    'unknown': 11
}

dataset['job'] = dataset['job'].map(job_mapping).astype(int)

In [55]:
dataset['marital'] = dataset['marital'].map({'divorced':0,'single':1,'married':2}).astype(int)

In [56]:
dataset['education'] = dataset['education'].map({'unknown':0,'primary':1,'secondary':2,'tertiary':3}).astype(int)

In [57]:
dataset['default'] = dataset['default'].map({'yes':1,'no':0}).astype(int)

In [58]:
dataset['housing'] = dataset['housing'].map({'yes':1,'no':0}).astype(int)

In [59]:
dataset['loan'] = dataset['loan'].map({'yes':1,'no':0}).astype(int)

In [60]:
dataset['contact'] = dataset['contact'].map({'unknown':0,'telephone':1,'cellular':2}).astype(int)

In [61]:
dataset = dataset.drop(['day', 'month', 'duration'], axis=1)

In [62]:
dataset['poutcome']=dataset['poutcome'].map({'unknown':0,'success':1,'failure':2,'other':3}).astype(int)

In [34]:
dataset['y'] = dataset['y'].map({'yes':1,'no':0}).astype(int)

In [63]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,campaign,pdays,previous,poutcome,y
0,58,4,2,3,0,2143,1,0,0,1,-1,0,0,no
1,44,9,1,2,0,29,1,0,0,1,-1,0,0,no
2,33,2,2,2,0,2,1,1,0,1,-1,0,0,no
3,47,1,2,0,0,1506,1,0,0,1,-1,0,0,no
4,33,11,1,0,0,1,0,0,0,1,-1,0,0,no

In [65]:

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

X = dataset.drop("y", axis=1)
y = dataset["y"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(X_train, y_train)

y_pred = dt_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("\nConfusion Matrix:\n", conf_matrix)
print("\nClassification Report:\n", class_report)

Accuracy: 0.8117881234103727

Confusion Matrix:
 [[7057  895]
 [ 807  284]]

Classification Report:
               precision    recall  f1-score   support

          no       0.90      0.89      0.89      7952
         yes       0.24      0.26      0.25      1091

    accuracy                           0.81      9043
   macro avg       0.57      0.57      0.57      9043
weighted avg       0.82      0.81      0.81      9043